<!DOCTYPE HTML>
<html>
  <head>
  
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href=".">My Website</a>
        </div>
          <ul class="nav navbar-nav">
            <li {% if active_page == "home" %}class="active"{% endif %}><a href=".">Home</a></li>
            <li {% if active_page == "page1" %}class="active"{% endif %}><a href="/aboutus">Page 1</a></li>
          </ul>
      </div>
    </nav>
  </body>
</html>
